ch01/*
ch02/*
ch03/*
ch04/*
ch05/*
ch06/*
ch07/*
ch08/*
experiments/*

!ch01/.gitkeep
!ch02/.gitkeep
!ch03/.gitkeep
!ch04/.gitkeep
!ch05/.gitkeep
!ch06/.gitkeep
!ch07/.gitkeep
!ch08/.gitkeep

!ch01/*.c
!ch02/*.c
!ch03/*.c
!ch04/*.c
!ch05/*.c
!ch06/*.c
!ch07/*.c
!ch08/*.c
!experiments/*.c

*.o
*.out
*.exe
*.bin
a.out
experiments/strView